#############################
# General files and folders #
#############################

nbproject/
.settings
composer.lock
.project
.buildpath
.~lock.*
.idea

#############################
#       OSX trash files     #
#############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
